{% extends "base.html" %}
{% block title %}IQW{% endblock %}
{% block style_css %}
    {% include "style_css.html" %}
{% endblock %}
    <div class="content-wrapper">
    {% block main_menu %}
        {% include "main_menu.html" %}
    {% endblock %}
    {% block content %}
        <div class="container clearfix">
            <main class="content">
                <p style="text-align: center;">Наши контакты</p>
                <table>
                    <tr>
                        <td>Полное название</td>
                        <td>Школа Умного дома</td>
                    </tr>
                    <tr>
                        <td>Адрес</td>
                        <td>г. Москва, Зеленый проспект, д.12/с1</td>
                    </tr>
                    <tr>
                        <td>Телефон</td>
                        <td>+7(495)015-39-22</td>
                    </tr>
                    <tr>
                        <td>Сайт</td>
                        <td>www.iqworks.ru</td>
                    </tr>
                    <tr>
                        <td>Почта</td>
                        <td>info@iqworks.ru</td>
                    </tr>
                </table>
            </main>

        </div>
    {% endblock %}
    {% block footer_menu %}
        {% include "footer_menu.html" %}
    {% endblock %}
    </div>