{% extends "base.html" %}
{% block title %}IQW{% endblock %}
{% block style_css %}
    {% include "style_css.html" %}
{% endblock %}
    <div class="content-wrapper">
    {% block main_menu %}
        {% include "main_menu.html" %}
    {% endblock %}
    {% block content %}
        <div class="container clearfix">
            <main class="content">
                <p style="text-align: center;">О нас</p>
                <p style="text-align: center; width: 70%; margin-left: 15%;">«IQW» — международная инженерная компания. Мы проектируем и устанавливаем
                    системы автоматизации домов, офисов и индустриальных зданий. В обиходе эти системы называются «умный
                    дом», «умный офис» или «умное здание».
                    Наш бизнес построен вокруг технологии IQW — прорывного интерфейса для систем автоматизации,
                    основанного на 3D-модели здания. Мы предлагаем клиентам сочетание этого революционного продукта с
                    высоким качеством и надежностью оборудования, произведенного по европейскому стандарту KNX.
                    «IQW» имеет более 10 лет опыта реализации проектов разного уровня сложности и масштаба. От систем
                    «умного дома» в частных квартирах до автоматизации и диспетчеризации объектов коммерческого и
                    индустриального назначения — моллы, офисы, склады, производственные объекты и так далее.</p>
                <p style="text-align: center; width: 70%; margin-left: 15%; margin-top: 5%;">Мы предлагаем Вам приобрести наш опыт инсталляции и настройки умного дома.
                    С этой целью мы предлагаем Вам уникальные курсы в нескольких форматах.</p>
            </main>
        </div>
    {% endblock %}
    {% block footer_menu %}
        {% include "footer_menu.html" %}
    {% endblock %}
    </div>