<header class="header">
    <p style="font-size: 30px; margin: 0; padding: 10px;">Школа Умного дома</p>
    <div class="container-menu">
        <a class="menu-point" href="index.html">Главная</a>
        <a class="menu-point" href="courses.html">Курсы</a>
        <a class="menu-point" href="contacts.html">Контакты</a>
        <a class="menu-point" href="registration.html">Регистрация</a>
        <a class="menu-point" href="course_redactor.html">Курсы(admin)</a>
        <a class="menu-point" href="users.html">Студенты(admin)</a>
    </div>
</header>