{% extends "base.html" %}
{% block title %}IQW{% endblock %}
{% block style_css %}
    {% include "style_css.html" %}
{% endblock %}
    <div class="content-wrapper">
    {% block main_menu %}
        {% include "main_menu.html" %}
    {% endblock %}
    {% block content %}
        <div class="container clearfix">
            <main class="content">
                <p style="text-align: center;">Оставьте заявку и мы с Вами свяжемся</p>
                <form class="form-registration" action="" method="POST">
                    <fieldset>
                        <legend>Контактная информация</legend>
                        <label>Имя:<br><input type="text" name="name"></label><br>
                        <label>Мобильный:<br><input type="text" name="mobile"></label><br>
                        <label>Email:<br><input type="text" name="email"></label>
                    </fieldset>
                    <input type="submit">
                </form>

            </main>
        </div>
    {% endblock %}
    {% block footer_menu %}
        {% include "footer_menu.html" %}
    {% endblock %}
    </div>
